.controlPanel-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex-direction: column;
    height: 500px;
}

.controlPanel-container > h3 {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 18px;
}

.controlPanel-result-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 115px;
}

.button-select-new-params {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    height: 115px;
}
