.graph-container {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1.2;
    flex-shrink: 1.2;
    flex-basis: 0;
    background-color: #d7dedc;
}
