.good {
    background-color: rgb(80, 200, 80);
}

.medium {
    background-color: #f9dc5c;
}

.bad {
    background-color: red;
}

.null {
    background-color: lightgray;
}

.index-container {
    margin-top: 5px;
    margin-bottom: 0px;
    height: 85px;
    width: 85px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-container:nth-child(1) {
    margin-right: 5px;
}

.index-container:nth-child(2) {
    margin-left: 5px;
}

.quality-index-perc {
    font-size: 30px;
}
