* {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    user-select: none;
}

.App {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fileChooserInput {
    width: 0;
    height: 0;
    overflow: hidden;
}

.fileChooserLabel {
    height: 50px;
    cursor: pointer;
}

.fileChooserLabel div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    width: 220px;
    transition: all 0.2s ease-in-out;
}

.fileChooserLabel div:hover {
    background-color: #5FBFF9;
}

.file-chosen {
    background-color: #f9dc5c;
}

.no-file {
    background-color: #4392f1;
}

.buttonNormal {
    width: 220px;
    height: 50px;
}

.buttonSmaller {
    width: 100px;
    height: 40px;
}

.customButton {
    background-color: #4392f1;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    height: 50px;
}

.customButtonDisabled {
    background-color: #4392f1;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

.customButton:hover {
    background-color: #5FBFF9;
}

.fileChooserContainer {
    height: 5%;
    width: 100%;
    bottom: 5%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.fileChooserContainer > div {
    margin-left: 16px;
    margin-right: 16px;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    width: 100%;
}

.graphInfoContainer {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    /*padding-bottom: 20px;*/
}

.graphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1.2;
    flex-shrink: 1.2;
    flex-basis: 0;
    background-color: #D7DEDC;
}

.viewDataCheckBoxContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.viewDataCheckBoxContainer span {
    margin-left: 10px;
}

.checkBoxGraph {
    display: block;
}

.infoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex-direction: column;
    height: 620px;
}

.margin-top-medium {
    width: 80%;
}

.checkBoxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkBoxContainer span {
    margin-left: 10px;
}

.margin-top-medium {
    margin-top: 15px;
    margin-bottom: 0px;
}

#checkContainer {
    width: 80%;
}

#checkContainer h3 {
    width: 100%;
    margin-bottom: 5px;
}

#checkBoxInfo {
    font-size: 18px;
    font-weight: bold;
}

#checkBox {
    width: 20px;
    height: 20px;
    flex-basis: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border: solid 1px #D7DEDC;
}

.checkSelected {
    background-color: #4392f1;
    border: solid 1px #D7DEDC;
    width: 20px;
    height: 20px;
}

.checkNotSelected:hover {
    background-color: #4392f1;
    border: solid 1px #D7DEDC;
    width: 20px;
    height: 20px;
}

.checkNotSelected {
    background-color: #D7DEDC;
    width: 20px;
    height: 20px;
}

.infoContainer textarea {
    width: 77%;
    height: 100px;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: 1px solid #D7DEDC;
    background-color: #D7DEDC;
    transition: 0.2s all ease-in-out;
}



#inputSaveName {
    font-size: 1.2em;
    width: 85%;
    padding: 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: 1px solid #D7DEDC;
    background-color: #D7DEDC;
    transition: 0.2s all ease-in-out;
}

#inputSaveName:focus {
    outline: none !important;
    border: 1px solid #4392f1;
}


.infoContainer input,
.infoContainer textarea {
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 10px;
}

h3 {
    margin-bottom: 15px;
    margin-top: 10px;
}

.saveJsonModal {
    width: 300px;
    height: 180px;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -90px);
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.setParamModal {
    width: 420px;
    height: 380px;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-220px, -190px);
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.setParamModal h4, 
.setParamModal span {
    width: 95%;
}

.saveJsonModal h3 {
    width: 90%;
}

.saveJsonModal div {
    flex-basis: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 98;
}

textarea:focus,
input:focus {
    outline: none !important;
    border: 1px solid #4392f1;
}

.tooltipLabel {
    visibility: hidden;
}
  
.tooltip:hover + text {
    visibility: visible;
}

.selectContainerParamModal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
}
.selectContainerParamModal select {
    width: 150px;
    height: 25px;
    margin: 5px;
}

#paramModalButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 10px;
    margin-top: 5px;
}

.done {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
}

#frame {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0;
    height: 25px;
    width: 100%;
}

#frame div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 25px;
    padding-bottom: 2px ;
}

#frame div:hover {
    background-color: red;
}

.setParamModal h4 {
    margin-top: 5px;
}

.quality-index {
    margin:5px;
    width: 50%;
    padding: 5px;
    margin-top:0px;
    margin-bottom: 0px;
}
.quality-index-h3 {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
}
.quality-index-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.index {
    background-color: #4392f1;
    /*background-color: #D7DEDC;*/
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.good-index {
    background-color: rgb(80,200,80)
}

.middle-index {
    background-color: #f9dc5c;
}

.bad-index {
    background-color: red;
}

.quality-index-val {
    font-size: 25px;
    margin-bottom: 5px;
}


