.App {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fileChooserInput {
    width: 0;
    height: 0;
    overflow: hidden;
}

.fileChooserLabel {
    height: 50px;
    cursor: pointer;
}

.fileChooserLabel div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    width: 220px;
}

.file-chosen {
    background-color: #f9dc5c;
}

.no-file {
    background-color: #09bc8a;
}

.btn-3:hover {
    background-color: rgb(13, 144, 107);
}

.btn-3 span {
    height: 50px;
}

/* #F9DC5C - yellow */
/* #ED254E - red */

.customButton {
    width: 220px;
    height: 50px;
    background-color: #09bc8a;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.customButtonDisabled {
    width: 220px;
    height: 50px;
    background-color: #09bc8a;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

.customButton:hover {
    background-color: rgb(13, 144, 107);
}

.fileChooserContainer {
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileChooserContainer > div {
    margin-left: 16px;
    margin-right: 16px;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
}


.graphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-left: 24px;
    background-color: #1b1a25;
}

.infoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex-direction: column;
    height: 460px;
}

.checkBoxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkBoxContainer span {
    margin-left: 10px;
}

#checkContainer {
    width: 80%;
}

#checkBoxInfo {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#checkBox {
    width: 20px;
    height: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.checkSelected {
    background-color: chartreuse;
}

.checkNotSelected:hover {
    background-color: chartreuse;
}

.checkNotSelected {
    background-color: white;
}

.infoContainer textarea {
    width: 77%;
    height: 100px;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.infoContainer input,
.infoContainer textarea {
    border: none;
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 10px;
}



.saveJsonModal {
    width: 200px;
    height: 100px;
    background-color: greenyellow;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 99;
}

.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 98;
}
