* {
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

.App {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fileChooserInput {
    width: 0;
    height: 0;
    overflow: hidden;
}

.fileChooserLabel {
    height: 50px;
    cursor: pointer;
}

.fileChooserLabel div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    width: 220px;
    transition: all 0.2s ease-in-out;
}

.fileChooserLabel div:hover {
    background-color: #5FBFF9;
}

.file-chosen {
    background-color: #f9dc5c;
}

.no-file {
    background-color: #4392f1;
}

.buttonNormal {
    width: 220px;
    height: 50px;
}

.buttonSmaller {
    width: 100px;
    height: 40px;
}

.customButton {
    background-color: #4392f1;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.customButtonDisabled {
    background-color: #4392f1;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

.customButton:hover {
    background-color: #5FBFF9;
}

.fileChooserContainer {
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileChooserContainer > div {
    margin-left: 16px;
    margin-right: 16px;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
}


.graphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-left: 24px;
    background-color: #D7DEDC;
}

.infoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex-direction: column;
    height: 504px;
}

.infoContainer h3 {
    width: 80%;
}

.checkBoxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkBoxContainer span {
    margin-left: 10px;
}

.margin-top-medium {
    margin-top: 25px;
}

#checkContainer {
    width: 80%;
}

#checkContainer h3 {
    width: 100%;
}

#checkBoxInfo {
    font-size: 18px;
    font-weight: bold;
}

#checkBox {
    width: 20px;
    height: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border: solid 1px #D7DEDC;
}

.checkSelected {
    background-color: #4392f1;
    border: solid 1px #D7DEDC;
}

.checkNotSelected:hover {
    background-color: #4392f1;
    border: solid 1px #D7DEDC;
}

.checkNotSelected {
    background-color: #D7DEDC;
}

.infoContainer textarea {
    width: 77%;
    height: 100px;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: 1px solid #D7DEDC;
    background-color: #D7DEDC;
    transition: 0.2s all ease-in-out;
}



#inputSaveName {
    font-size: 1.2em;
    width: 85%;
    padding: 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: 1px solid #D7DEDC;
    background-color: #D7DEDC;
    transition: 0.2s all ease-in-out;
}

#inputSaveName:focus {
    outline: none !important;
    border: 1px solid #4392f1;
}


.infoContainer input,
.infoContainer textarea {
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 10px;
}

h3 {
    margin-bottom: 15px;
    margin-top: 10px;
}

.saveJsonModal {
    width: 300px;
    height: 180px;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -90px);
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.saveJsonModal h3 {
    width: 90%;
}

.saveJsonModal div {
    flex-basis: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 98;
}

textarea:focus,
input:focus {
    outline: none !important;
    border: 1px solid #4392f1;
}

.tooltipLabel {
    visibility: hidden;
}
  
.tooltip:hover + text {
    visibility: visible;
}

  